{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "no-loops"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": 1,
    "no-loops/no-loops": 1,
    "array-element-newline": ["warn", "consistent"],
    "arrow-body-style": ["warn", "as-needed"],
    "no-empty-function": "off",
    "no-unused-expressions": ["warn"]
  }
}
